--extra-index-url https://download.pytorch.org/whl/cu128
torch
hf_xet
llama-index
llama-index-embeddings-huggingface
llama-index-llms-huggingface

llama-index-vector-stores-duckdb
llama-index-llms-llamafile
